body {
    background: #061b30b2 url(./assets/pexels-jean-van-der-meulen-1457842.jpg);
    background-repeat: no-repeat;

    background-size: cover;
    background-blend-mode: darken;
}

.header {
    display: flex;
    align-items: center;
    margin-top: 2vw;

    justify-content: space-around;
    color: #ffffff;
}

.logo {

    font-size: 1.7vw;
    font-weight: bold;
}

.nav-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

a {

    font-size: 1.5vw;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;

}

.contact-detail {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}


hr {
    width: 40vw;
}

.bar-solid {

    display: none;
    visibility: hidden;
}

.contact {
    font-size: 1.2vw;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2vw;
    margin-top: 8vw;

}

.interior h1 {
    font-size: 3.7vw;
    color: #ffffff;

}

div button {

    padding: 0.7vw 2vw;
    border-radius: 25px;
    background: transparent;
    color: #ffffff;
    font-size: 1vw;
    font-weight: 900;
}

.icon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 3vw;

    width: 40vw;

}

.icon1 {
    background-color: rgba(255, 255, 255, 0.356);
    display: flex;
    flex-direction: column;
    width: 17vw;
    height: 10vw;
    align-items: center;
}

.icon1 img {
    margin-top: 2vw;

    width: 4vw;
}

.top {
    margin-left: 20vw;
}

.icon1 p {
    font-size: 0.8vw;
    font-weight: 800;
    color: #ffffff;
}

@media screen and (max-width:1100px) {
    body {
        background: #061b30b2 url(./assets/pexels-jean-van-der-meulen-1457842\ 1.png 1.png);

    }


    .header {
        padding: 0vw 2vw;
        justify-content: space-between;

    }

    .logo {

        font-size: 4vw;

    }

    .nav-mid {
        display: none;
        visibility: hidden;
    }


    .contact-detail {
        display: none;
        visibility: hidden;
    }


    .bar-solid {
        width: 5vw;

        display: block;
        visibility: visible;
    }

    .container {

        padding: 10vw;
        align-items: center;
        text-align: center;
        justify-content: center;


    }

    .interior h1 {
        font-size: 16vw;


    }

    div button {

        padding: 5vw 6vw;
        border-radius: 6vw;

        font-size: 5vw;

    }

    .icon {
        align-items: center;

        width: 100vw;

    }

    .icon1 {
        margin-top: 10vw;
        padding: 10vw;
        width: 60vw;
        height: 60vw;
        align-items: center;
    }

    .icon1 img {
        margin-top: 15vw;

        width: 15vw;
    }

    .top {
        margin-left: 0vw;
    }

    .icon1 p {
        font-size: 5vw;
        font-weight: 800;
        color: #ffffff;
    }
}